/* Reset default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Set the background color to black */

body {
    min-height: 100vh;
    /* Set a minimum height to occupy the full viewport */
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    /* Use flexbox to position the content */
    flex-direction: column;
    /* Arrange the content in a column */
}


/* Set the text color to white */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #ffffff;
}


/* Style the navbar */

nav {
    background-color: #000000;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #cca837;
    text-decoration: none;
}

nav .navbar-brand {
    color: #cca837;
}


/* Style the button */

.btn {
    background-color: #cca837;
    color: #222222;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}


/* Testimonial img */

.responsive__img {
    max-width: 100%;
    height: auto;
}


/* Style the form input */

.form-control {
    background-color: #ffffff;
    color: #222222;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}


/* Style the headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #cca837;
}

header {
    background-color: #000000;
    padding: 50px;
    text-align: center;
}


/* Logo size */

.logo {
    max-width: 10%;
    height: auto;
}

.logomobile {
    display: none;
    max-width: 12%;
    height: auto;
}


/* Style the paragraph text */

p {
    line-height: 1.5;
}


/* Style the link */

a {
    color: #cca837;
    text-decoration: none;
}


/* Style the cards */

.card {
    background-color: #343a40;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


/* Contact icons */

.contact-icon {
    width: 50px;
    height: 50px;
}


/* Footer */

footer {
    background-color: black;
    font-family: Tahoma, Arial;
    font-size: 1em;
    color: white;
    margin-top: auto;
    /* Push the footer to the bottom */
    padding: 10px;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add ellipsis (...) for overflowing text */
}


/* Media query for small screens */

@media (max-width: 120px) {
    footer {
        text-align: center;
        /* Center the text on small screens */
    }
    /* Extra small devices (phones) */
    @media (max-width: 575.98px) {
        /* CSS rules for phones */
    }
    /* Small devices (tablets) */
    @media (min-width: 576px) and (max-width: 767.98px) {
        /* CSS rules for tablets */
    }
    /* Medium devices (laptops, desktops) */
    @media (min-width: 768px) and (max-width: 991.98px) {
        /* CSS rules for laptops and desktops */
    }
    /* Large devices (large laptops, desktops) */
    @media (min-width: 992px) and (max-width: 1199.98px) {
        /* CSS rules for large laptops and desktops */
    }
    /* Extra large devices (large desktops, TVs) */
    @media (min-width: 1200px) {
        /* CSS rules for large desktops and TVs */
    }
    /* Media queries for mobile devices */
    @media (max-width: 767px) {
        .navbar-nav {
            flex-direction: column;
            align-items: flex-start;
        }
        .navbar-nav .nav-item {
            margin-bottom: 10px;
        }
        .navbar-collapse {
            display: none;
        }
        .navbar-collapse.show {
            display: block;
        }
    }
}